{:deps
 {org.clojure/clojure {:mvn/version "1.10.0-alpha4"}
  com.stuartsierra/component {:mvn/version "0.3.2"}
  ring {:mvn/version "1.7.0-RC1"}
  ring/ring-defaults {:mvn/version "0.3.2"}
  compojure {:mvn/version "1.6.1"}
  hiccup {:mvn/version "1.0.5"}
  clj-http {:mvn/version "3.9.0"}
  cheshire {:mvn/version "5.8.0"}}

 :paths ["src" "resources"]
 
 :aliases
 {:repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.18.0-SNAPSHOT"}
                      org.clojure/tools.namespace {:mvn/version "0.2.11"}}
         :extra-paths ["dev"]}}}
